body {
    display: flex;
    flex-direction: column;
    margin: 0%;
}

/* Nav content */

header, .section-1 {
    color: #ffffff;
    background-color: #1f2937;
}

header, section, .section-1 {
    padding: 0 300px 0 300px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

/* section 1 content  */

.section-1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 45px;
    padding-bottom: 40px;
    flex-wrap: wrap;
}

.content-1 {
    flex: 1; 
    height: 300px;
    max-width: 450px;
}

img {
    height: 250px;
    width: auto;
    align-self: center;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

/* buttons */

button {
    padding: 8px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    background-color: #3882FA;
    color: white;
}

/* section-2 content */

.section-2 {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.box-flex {
    display: flex;
    text-align: center;
    align-items: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 8px;
}

.box-container {
    height: 200px;
    width: 200px;
}