body {
    display: flex;
    flex-direction: column;
    margin: 0%;
}

/* Nav content */

header, .section-1 {
    color: #ffffff;
    background-color: #1f2937;
}

header, section, .section-1 {
    padding: 0 300px 0 300px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

/* section 1 content  */

.section-1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 45px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.content-1 {
    flex: 1; 
    height: 300px;
    max-width: 450px;
}

img {
    height: 250px;
    width: auto;
    align-self: center;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

/* buttons */

button {
    padding: 8px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    background-color: #3882FA;
    color: white;
}

/* section-2 content */

.section-2 {
    padding: 20px 0 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box-flex {
    display: flex;
    text-align: center;
    align-items: center;
    flex: 1;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 8px;
    flex-shrink: 0;
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

/* Section-3 content  */

.section-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
}

.s3-main-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.section-3, .container-2 > p {
    margin: 0;
}

#s3-subtext {
    align-self: flex-end;
    margin-right: 125px;
    font-style: italic;
    font-size: 27px;
}

/* Section 4 Content  */

.section-4 {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 1000px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: lightcyan;
    gap: 10px;
}